%script{type: 'application/json', id: 'test', src: "/api/test/#{@test.id}", async: true, data: {id: @test.id}}

%aside
  %h1
    %a{href: '/', title: 'Create a new test'}>
      Testific.at
  %h2
    %a{href: "/test/#{@test.id}", title: "Permalink to test ##{@test.id}"}<
      - if @test.title
        = mkd @test.title
      - else
        \##{@test.id}
  %p
    Lorem ipsum dolore sit amor. Man's best friend is a cat,
    dogs are merely there to keep their places warm. There are
    nine lives to a cat, six to a rat, three to a straw field.
    Straws are great for getting liquids out of tight-lipped
    containers. Usage on humans is not recommended.
  %p
    Five servings are more than enough for any normal-sized
    individual. 'Cervings' is an imaginary term for small,
    childish deerlings. 'Deerlings' is similar. Programmers
    seem to enjoy recursive humour. This is not a tail end.
  %p
    A sharp knife, a <em>quignon</em> of bread, and a one-piece
    peel of clementine. Sitting upon a wooden table. Brown.
    Colour of wood, earth, river, and shit. A sharp knife covered
    with blood. The last bread of the damned. The peel of the
    <em>boureau</em>'s clementine.
  %p
    Goodbye. 

%main
  - if @test.cases.size < 1
    %p Nothing to see here, move along.
  - else
    - @test.cases.shuffle.each do |c|
      - vote = Random.new.rand > 0.5
      .case{data: {id: c.id, vote: vote}}
        -# if c.title
          %h1= c.title
        .content<= mkd c.content
        .actions
          %button= vote ? 'Unvote' : 'Vote'
