%script{type: 'application/json', id: 'test', src: "/api/test/#{@test.id}", async: true, data: {id: @test.id}}

%aside
  %h1
    %a{href: '/', title: 'Create a new test'}<
      %img{src: '/resource/favicon.png', alt: 'Favicon', height: 16}
      Testific.at
  %h2
    %a{href: "/test/#{@test.id}", title: "Permalink to test ##{@test.id}"}<
      - if @test.title
        = mkd @test.title
      - else
        \##{@test.id}
  %p
    Each box is a different version of the same thing.
    Read / review / look at / etc… each, and vote for
    whichever you think is the best by clicking on it.
  %p
    You can change your vote anytime, as well as "unvote"
    by clicking your selection a second time.
  %p
    Voting doesn't
    %em require
    cookies, but it helps keeping things fair. If you
    do not allow cookies, you will be identified using
    your IP address — which could potentially stop you
    from voting if you are in the same building as another
    user!
%main
  - vote = @test.choices.find { |c| c.user.id == current_user.id }
  - if @test.cases.size < 1
    %p Nothing to see here, move along.
  - else
    - @test.cases.shuffle.each do |c|
      - voted = vote ? vote.case == c : false
      .case{data: {id: c.id, vote: voted}}
        .content<= mkd c.content
        .actions
          %button.vote= voted ? 'Unvote' : 'Vote'
          - if current_owner?(@test) || (public_stats?(@test) && user_voted?(@test))
            .votes&= c.choices.count
